Gradebook.WS.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns5="http://authentication.security.platform.blackboard/xsd" xmlns:ns6="http://base.blackboard/xsd" xmlns:ns2="http://persist.blackboard/xsd" xmlns:axis2="http://gradebook.ws.blackboard/" xmlns:ns1="http://ws.platform.blackboard/xsd" xmlns:ns4="http://gradebook2.platform.blackboard/xsd" xmlns:ns3="http://gradebook.ws.blackboard" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://gradebook.ws.blackboard/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://gradebook.ws.blackboard/">
    <wsdl:types>
        <xs:schema xmlns:ax210="http://gradebook.ws.blackboard/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://gradebook.ws.blackboard/xsd">
            <xs:complexType name="AttemptFilter">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="expansionData" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="filterType" type="xs:int"/>
                    <xs:element minOccurs="0" name="gradeId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ids" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AttemptVO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="attemptDate" type="xs:long"/>
                    <xs:element minOccurs="0" name="creationDate" type="xs:long"/>
                    <xs:element minOccurs="0" name="displayGrade" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="exempt" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="expansionData" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="feedbackToUser" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="grade" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="gradeId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="groupAttemptId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="instructorNotes" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="override" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="publicFeedbackToUser" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="score" type="xs:double"/>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="studentComments" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="studentSubmission" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="studentSubmissionTextType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ColumnFilter">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="expansionData" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="externalGrade" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="filterType" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ids" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="names" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ColumnVO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="aggregationModel" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="analysisUrl" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="calculationType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="columnDisplayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="columnName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="contentId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="dateCreated" type="xs:long"/>
                    <xs:element minOccurs="0" name="dateModified" type="xs:long"/>
                    <xs:element minOccurs="0" name="deleted" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="descriptionType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="dueDate" type="xs:long"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="expansionData" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="externalGrade" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="gradebookTypeId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="hideAttempt" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="multipleAttempts" type="xs:int"/>
                    <xs:element minOccurs="0" name="position" type="xs:int"/>
                    <xs:element minOccurs="0" name="possible" type="xs:double"/>
                    <xs:element minOccurs="0" name="scaleId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="scorable" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="showStatsToStudent" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="visible" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="visibleInBook" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="weight" type="xs:float"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GradebookTypeFilter">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="expansionData" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="filterType" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ids" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GradebookTypeVO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="calculated" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayedDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayedTitle" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="expansionData" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="scorable" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userDefined" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="weight" type="xs:float"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GradingSchemaFilter">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="expansionData" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="filterType" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ids" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GradingSchemaVO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="expansionData" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="numeric" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="percentage" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="scaleType" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="symbols" nillable="true" type="ns0:GradingSchemaSymbolVO"/>
                    <xs:element minOccurs="0" name="tabular" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userDefined" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="version" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GradingSchemaSymbolVO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="absoluteTranslation" type="xs:double"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="expansionData" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="gradingSchemaId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lowerBound" type="xs:double"/>
                    <xs:element minOccurs="0" name="symbol" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="upperBound" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ScoreFilter">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="columnFilters" nillable="true" type="ns0:ColumnFilter"/>
                    <xs:element minOccurs="0" name="columnId" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="expansionData" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="filterType" type="xs:int"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="memberIds" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rawScore" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="userIds" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ScoreVO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="averageScore" nillable="true" type="xs:double"/>
                    <xs:element minOccurs="0" name="columnId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="exempt" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="expansionData" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstAttemptId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="grade" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="highestAttemptId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="instructorComments" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastAttemptId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lowestAttemptId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="manualGrade" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="manualScore" nillable="true" type="xs:double"/>
                    <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="schemaGradeValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="shortInstructorComments" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="shortStudentComments" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="status" type="xs:int"/>
                    <xs:element minOccurs="0" name="studentComments" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax29="http://ws.platform.blackboard/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.platform.blackboard/xsd">
            <xs:complexType name="VersionVO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="version" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax211="http://persist.blackboard/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://persist.blackboard/xsd">
            <xs:complexType name="PersistenceException">
                <xs:complexContent>
                    <xs:extension base="ns6:NestedException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ns="http://gradebook.ws.blackboard" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://gradebook.ws.blackboard">
            <xs:element name="getServerVersion">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="unused" nillable="true" type="ns1:VersionVO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServerVersionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns1:VersionVO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAttempts">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="filter" nillable="true" type="ns0:AttemptFilter"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAttemptsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns0:AttemptVO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGradebookColumns">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="filter" nillable="true" type="ns0:ColumnFilter"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGradebookColumnsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns0:ColumnVO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGradebookTypes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="filter" nillable="true" type="ns0:GradebookTypeFilter"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGradebookTypesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns0:GradebookTypeVO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGradingSchemas">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="filter" nillable="true" type="ns0:GradingSchemaFilter"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGradingSchemasResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns0:GradingSchemaVO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGrades">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="filter" nillable="true" type="ns0:ScoreFilter"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGradesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns0:ScoreVO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="initializeGradebookWS">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ignore" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="initializeGradebookWSResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteAttempts">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="idsToDelete" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteAttemptsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteColumns">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="idsToDelete" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="onlyIfEmpty" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteColumnsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteGradebookTypes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="idsToDelete" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteGradebookTypesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteGrades">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="idsToDelete" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteGradesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteGradingSchemas">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="idsToDelete" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteGradingSchemasResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRequiredEntitlements">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="method" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRequiredEntitlementsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveAttempts">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="attempts" nillable="true" type="ns0:AttemptVO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveAttemptsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveColumns">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="columns" nillable="true" type="ns0:ColumnVO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveColumnsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveGradebookTypes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="gradebookTypes" nillable="true" type="ns0:GradebookTypeVO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveGradebookTypesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveGrades">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="grades" nillable="true" type="ns0:ScoreVO"/>
                        <xs:element minOccurs="0" name="overrideIfManual" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveGradesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveGradingSchemas">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="schemas" nillable="true" type="ns0:GradingSchemaVO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveGradingSchemasResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateColumnAttribute">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="columns" nillable="true" type="ns0:ColumnVO"/>
                        <xs:element minOccurs="0" name="attributeId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateColumnAttributeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="PersistenceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="PersistenceException" nillable="true" type="ns2:PersistenceException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GradebookException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="GradebookException" nillable="true" type="ns4:GradebookException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="BbSecurityException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="BbSecurityException" nillable="true" type="ns5:BbSecurityException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="processScoreFilterQuery">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filter" nillable="true" type="ns0:ScoreFilter"/>
                        <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="request" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="processScoreFilterQueryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax213="http://gradebook2.platform.blackboard/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://gradebook2.platform.blackboard/xsd">
            <xs:complexType name="GradebookException">
                <xs:complexContent>
                    <xs:extension base="xs:RuntimeException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax214="http://authentication.security.platform.blackboard/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://authentication.security.platform.blackboard/xsd">
            <xs:complexType name="BbSecurityException">
                <xs:complexContent>
                    <xs:extension base="ns3:Exception">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="recallUrl" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax212="http://base.blackboard/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://base.blackboard/xsd">
            <xs:complexType name="NestedException">
                <xs:complexContent>
                    <xs:extension base="ns3:Exception">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="fullMessageTrace" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="nestedException" nillable="true" type="xs:anyType"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deleteGradingSchemasRequest">
        <wsdl:part name="parameters" element="ns3:deleteGradingSchemas"/>
    </wsdl:message>
    <wsdl:message name="deleteGradingSchemasResponse">
        <wsdl:part name="parameters" element="ns3:deleteGradingSchemasResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteGradesRequest">
        <wsdl:part name="parameters" element="ns3:deleteGrades"/>
    </wsdl:message>
    <wsdl:message name="deleteGradesResponse">
        <wsdl:part name="parameters" element="ns3:deleteGradesResponse"/>
    </wsdl:message>
    <wsdl:message name="getGradebookColumnsRequest">
        <wsdl:part name="parameters" element="ns3:getGradebookColumns"/>
    </wsdl:message>
    <wsdl:message name="getGradebookColumnsResponse">
        <wsdl:part name="parameters" element="ns3:getGradebookColumnsResponse"/>
    </wsdl:message>
    <wsdl:message name="initializeGradebookWSRequest">
        <wsdl:part name="parameters" element="ns3:initializeGradebookWS"/>
    </wsdl:message>
    <wsdl:message name="initializeGradebookWSResponse">
        <wsdl:part name="parameters" element="ns3:initializeGradebookWSResponse"/>
    </wsdl:message>
    <wsdl:message name="getGradesRequest">
        <wsdl:part name="parameters" element="ns3:getGrades"/>
    </wsdl:message>
    <wsdl:message name="getGradesResponse">
        <wsdl:part name="parameters" element="ns3:getGradesResponse"/>
    </wsdl:message>
    <wsdl:message name="processScoreFilterQueryRequest">
        <wsdl:part name="parameters" element="ns3:processScoreFilterQuery"/>
    </wsdl:message>
    <wsdl:message name="processScoreFilterQueryResponse">
        <wsdl:part name="parameters" element="ns3:processScoreFilterQueryResponse"/>
    </wsdl:message>
    <wsdl:message name="PersistenceException">
        <wsdl:part name="parameters" element="ns3:PersistenceException"/>
    </wsdl:message>
    <wsdl:message name="GradebookException">
        <wsdl:part name="parameters" element="ns3:GradebookException"/>
    </wsdl:message>
    <wsdl:message name="BbSecurityException">
        <wsdl:part name="parameters" element="ns3:BbSecurityException"/>
    </wsdl:message>
    <wsdl:message name="saveGradebookTypesRequest">
        <wsdl:part name="parameters" element="ns3:saveGradebookTypes"/>
    </wsdl:message>
    <wsdl:message name="saveGradebookTypesResponse">
        <wsdl:part name="parameters" element="ns3:saveGradebookTypesResponse"/>
    </wsdl:message>
    <wsdl:message name="saveAttemptsRequest">
        <wsdl:part name="parameters" element="ns3:saveAttempts"/>
    </wsdl:message>
    <wsdl:message name="saveAttemptsResponse">
        <wsdl:part name="parameters" element="ns3:saveAttemptsResponse"/>
    </wsdl:message>
    <wsdl:message name="saveGradingSchemasRequest">
        <wsdl:part name="parameters" element="ns3:saveGradingSchemas"/>
    </wsdl:message>
    <wsdl:message name="saveGradingSchemasResponse">
        <wsdl:part name="parameters" element="ns3:saveGradingSchemasResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteAttemptsRequest">
        <wsdl:part name="parameters" element="ns3:deleteAttempts"/>
    </wsdl:message>
    <wsdl:message name="deleteAttemptsResponse">
        <wsdl:part name="parameters" element="ns3:deleteAttemptsResponse"/>
    </wsdl:message>
    <wsdl:message name="getRequiredEntitlementsRequest">
        <wsdl:part name="parameters" element="ns3:getRequiredEntitlements"/>
    </wsdl:message>
    <wsdl:message name="getRequiredEntitlementsResponse">
        <wsdl:part name="parameters" element="ns3:getRequiredEntitlementsResponse"/>
    </wsdl:message>
    <wsdl:message name="updateColumnAttributeRequest">
        <wsdl:part name="parameters" element="ns3:updateColumnAttribute"/>
    </wsdl:message>
    <wsdl:message name="updateColumnAttributeResponse">
        <wsdl:part name="parameters" element="ns3:updateColumnAttributeResponse"/>
    </wsdl:message>
    <wsdl:message name="saveGradesRequest">
        <wsdl:part name="parameters" element="ns3:saveGrades"/>
    </wsdl:message>
    <wsdl:message name="saveGradesResponse">
        <wsdl:part name="parameters" element="ns3:saveGradesResponse"/>
    </wsdl:message>
    <wsdl:message name="getGradingSchemasRequest">
        <wsdl:part name="parameters" element="ns3:getGradingSchemas"/>
    </wsdl:message>
    <wsdl:message name="getGradingSchemasResponse">
        <wsdl:part name="parameters" element="ns3:getGradingSchemasResponse"/>
    </wsdl:message>
    <wsdl:message name="getGradebookTypesRequest">
        <wsdl:part name="parameters" element="ns3:getGradebookTypes"/>
    </wsdl:message>
    <wsdl:message name="getGradebookTypesResponse">
        <wsdl:part name="parameters" element="ns3:getGradebookTypesResponse"/>
    </wsdl:message>
    <wsdl:message name="saveColumnsRequest">
        <wsdl:part name="parameters" element="ns3:saveColumns"/>
    </wsdl:message>
    <wsdl:message name="saveColumnsResponse">
        <wsdl:part name="parameters" element="ns3:saveColumnsResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteColumnsRequest">
        <wsdl:part name="parameters" element="ns3:deleteColumns"/>
    </wsdl:message>
    <wsdl:message name="deleteColumnsResponse">
        <wsdl:part name="parameters" element="ns3:deleteColumnsResponse"/>
    </wsdl:message>
    <wsdl:message name="getAttemptsRequest">
        <wsdl:part name="parameters" element="ns3:getAttempts"/>
    </wsdl:message>
    <wsdl:message name="getAttemptsResponse">
        <wsdl:part name="parameters" element="ns3:getAttemptsResponse"/>
    </wsdl:message>
    <wsdl:message name="getServerVersionRequest">
        <wsdl:part name="parameters" element="ns3:getServerVersion"/>
    </wsdl:message>
    <wsdl:message name="getServerVersionResponse">
        <wsdl:part name="parameters" element="ns3:getServerVersionResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteGradebookTypesRequest">
        <wsdl:part name="parameters" element="ns3:deleteGradebookTypes"/>
    </wsdl:message>
    <wsdl:message name="deleteGradebookTypesResponse">
        <wsdl:part name="parameters" element="ns3:deleteGradebookTypesResponse"/>
    </wsdl:message>
    <wsdl:portType name="Gradebook.WSPortType">
        <wsdl:operation name="deleteGradingSchemas">
            <wsdl:input message="axis2:deleteGradingSchemasRequest" wsaw:Action="deleteGradingSchemas"/>
            <wsdl:output message="axis2:deleteGradingSchemasResponse" wsaw:Action="http://gradebook.ws.blackboard/Gradebook/deleteGradingSchemasResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteGrades">
            <wsdl:input message="axis2:deleteGradesRequest" wsaw:Action="deleteGrades"/>
            <wsdl:output message="axis2:deleteGradesResponse" wsaw:Action="http://gradebook.ws.blackboard/Gradebook/deleteGradesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getGradebookColumns">
            <wsdl:input message="axis2:getGradebookColumnsRequest" wsaw:Action="getGradebookColumns"/>
            <wsdl:output message="axis2:getGradebookColumnsResponse" wsaw:Action="http://gradebook.ws.blackboard/Gradebook/getGradebookColumnsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="initializeGradebookWS">
            <wsdl:input message="axis2:initializeGradebookWSRequest" wsaw:Action="initializeGradebookWS"/>
            <wsdl:output message="axis2:initializeGradebookWSResponse" wsaw:Action="http://gradebook.ws.blackboard/Gradebook/initializeGradebookWSResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getGrades">
            <wsdl:input message="axis2:getGradesRequest" wsaw:Action="getGrades"/>
            <wsdl:output message="axis2:getGradesResponse" wsaw:Action="http://gradebook.ws.blackboard/Gradebook/getGradesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="processScoreFilterQuery">
            <wsdl:input message="axis2:processScoreFilterQueryRequest" wsaw:Action="urn:processScoreFilterQuery"/>
            <wsdl:output message="axis2:processScoreFilterQueryResponse" wsaw:Action="urn:processScoreFilterQueryResponse"/>
            <wsdl:fault message="axis2:PersistenceException" name="PersistenceException" wsaw:Action="urn:processScoreFilterQueryPersistenceException"/>
            <wsdl:fault message="axis2:GradebookException" name="GradebookException" wsaw:Action="urn:processScoreFilterQueryGradebookException"/>
            <wsdl:fault message="axis2:BbSecurityException" name="BbSecurityException" wsaw:Action="urn:processScoreFilterQueryBbSecurityException"/>
        </wsdl:operation>
        <wsdl:operation name="saveGradebookTypes">
            <wsdl:input message="axis2:saveGradebookTypesRequest" wsaw:Action="saveGradebookTypes"/>
            <wsdl:output message="axis2:saveGradebookTypesResponse" wsaw:Action="http://gradebook.ws.blackboard/Gradebook/saveGradebookTypesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="saveAttempts">
            <wsdl:input message="axis2:saveAttemptsRequest" wsaw:Action="saveAttempts"/>
            <wsdl:output message="axis2:saveAttemptsResponse" wsaw:Action="http://gradebook.ws.blackboard/Gradebook/saveAttemptsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="saveGradingSchemas">
            <wsdl:input message="axis2:saveGradingSchemasRequest" wsaw:Action="saveGradingSchemas"/>
            <wsdl:output message="axis2:saveGradingSchemasResponse" wsaw:Action="http://gradebook.ws.blackboard/Gradebook/saveGradingSchemasResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteAttempts">
            <wsdl:input message="axis2:deleteAttemptsRequest" wsaw:Action="deleteAttempts"/>
            <wsdl:output message="axis2:deleteAttemptsResponse" wsaw:Action="http://gradebook.ws.blackboard/Gradebook/deleteAttemptsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getRequiredEntitlements">
            <wsdl:input message="axis2:getRequiredEntitlementsRequest" wsaw:Action="getRequiredEntitlements"/>
            <wsdl:output message="axis2:getRequiredEntitlementsResponse" wsaw:Action="http://gradebook.ws.blackboard/Gradebook/getRequiredEntitlementsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateColumnAttribute">
            <wsdl:input message="axis2:updateColumnAttributeRequest" wsaw:Action="updateColumnAttribute"/>
            <wsdl:output message="axis2:updateColumnAttributeResponse" wsaw:Action="http://gradebook.ws.blackboard/Gradebook/updateColumnAttributeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="saveGrades">
            <wsdl:input message="axis2:saveGradesRequest" wsaw:Action="saveGrades"/>
            <wsdl:output message="axis2:saveGradesResponse" wsaw:Action="http://gradebook.ws.blackboard/Gradebook/saveGradesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getGradingSchemas">
            <wsdl:input message="axis2:getGradingSchemasRequest" wsaw:Action="getGradingSchemas"/>
            <wsdl:output message="axis2:getGradingSchemasResponse" wsaw:Action="http://gradebook.ws.blackboard/Gradebook/getGradingSchemasResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getGradebookTypes">
            <wsdl:input message="axis2:getGradebookTypesRequest" wsaw:Action="getGradebookTypes"/>
            <wsdl:output message="axis2:getGradebookTypesResponse" wsaw:Action="http://gradebook.ws.blackboard/Gradebook/getGradebookTypesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="saveColumns">
            <wsdl:input message="axis2:saveColumnsRequest" wsaw:Action="saveColumns"/>
            <wsdl:output message="axis2:saveColumnsResponse" wsaw:Action="http://gradebook.ws.blackboard/Gradebook/saveColumnsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteColumns">
            <wsdl:input message="axis2:deleteColumnsRequest" wsaw:Action="deleteColumns"/>
            <wsdl:output message="axis2:deleteColumnsResponse" wsaw:Action="http://gradebook.ws.blackboard/Gradebook/deleteColumnsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAttempts">
            <wsdl:input message="axis2:getAttemptsRequest" wsaw:Action="getAttempts"/>
            <wsdl:output message="axis2:getAttemptsResponse" wsaw:Action="http://gradebook.ws.blackboard/Gradebook/getAttemptsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getServerVersion">
            <wsdl:input message="axis2:getServerVersionRequest" wsaw:Action="getServerVersion"/>
            <wsdl:output message="axis2:getServerVersionResponse" wsaw:Action="http://gradebook.ws.blackboard/Gradebook/getServerVersionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteGradebookTypes">
            <wsdl:input message="axis2:deleteGradebookTypesRequest" wsaw:Action="deleteGradebookTypes"/>
            <wsdl:output message="axis2:deleteGradebookTypesResponse" wsaw:Action="http://gradebook.ws.blackboard/Gradebook/deleteGradebookTypesResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Gradebook.WSSOAP11Binding" type="axis2:Gradebook.WSPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="deleteGradingSchemas">
            <soap:operation soapAction="deleteGradingSchemas" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteGrades">
            <soap:operation soapAction="deleteGrades" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGradebookColumns">
            <soap:operation soapAction="getGradebookColumns" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="initializeGradebookWS">
            <soap:operation soapAction="initializeGradebookWS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGrades">
            <soap:operation soapAction="getGrades" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="processScoreFilterQuery">
            <soap:operation soapAction="urn:processScoreFilterQuery" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="PersistenceException">
                <soap:fault use="literal" name="PersistenceException"/>
            </wsdl:fault>
            <wsdl:fault name="GradebookException">
                <soap:fault use="literal" name="GradebookException"/>
            </wsdl:fault>
            <wsdl:fault name="BbSecurityException">
                <soap:fault use="literal" name="BbSecurityException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="saveGradebookTypes">
            <soap:operation soapAction="saveGradebookTypes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveAttempts">
            <soap:operation soapAction="saveAttempts" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveGradingSchemas">
            <soap:operation soapAction="saveGradingSchemas" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAttempts">
            <soap:operation soapAction="deleteAttempts" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRequiredEntitlements">
            <soap:operation soapAction="getRequiredEntitlements" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateColumnAttribute">
            <soap:operation soapAction="updateColumnAttribute" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveGrades">
            <soap:operation soapAction="saveGrades" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGradingSchemas">
            <soap:operation soapAction="getGradingSchemas" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGradebookTypes">
            <soap:operation soapAction="getGradebookTypes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveColumns">
            <soap:operation soapAction="saveColumns" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteColumns">
            <soap:operation soapAction="deleteColumns" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAttempts">
            <soap:operation soapAction="getAttempts" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServerVersion">
            <soap:operation soapAction="getServerVersion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteGradebookTypes">
            <soap:operation soapAction="deleteGradebookTypes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Gradebook.WSSOAP12Binding" type="axis2:Gradebook.WSPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="deleteGradingSchemas">
            <soap12:operation soapAction="deleteGradingSchemas" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteGrades">
            <soap12:operation soapAction="deleteGrades" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGradebookColumns">
            <soap12:operation soapAction="getGradebookColumns" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="initializeGradebookWS">
            <soap12:operation soapAction="initializeGradebookWS" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGrades">
            <soap12:operation soapAction="getGrades" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="processScoreFilterQuery">
            <soap12:operation soapAction="urn:processScoreFilterQuery" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="PersistenceException">
                <soap12:fault use="literal" name="PersistenceException"/>
            </wsdl:fault>
            <wsdl:fault name="GradebookException">
                <soap12:fault use="literal" name="GradebookException"/>
            </wsdl:fault>
            <wsdl:fault name="BbSecurityException">
                <soap12:fault use="literal" name="BbSecurityException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="saveGradebookTypes">
            <soap12:operation soapAction="saveGradebookTypes" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveAttempts">
            <soap12:operation soapAction="saveAttempts" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveGradingSchemas">
            <soap12:operation soapAction="saveGradingSchemas" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAttempts">
            <soap12:operation soapAction="deleteAttempts" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRequiredEntitlements">
            <soap12:operation soapAction="getRequiredEntitlements" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateColumnAttribute">
            <soap12:operation soapAction="updateColumnAttribute" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveGrades">
            <soap12:operation soapAction="saveGrades" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGradingSchemas">
            <soap12:operation soapAction="getGradingSchemas" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGradebookTypes">
            <soap12:operation soapAction="getGradebookTypes" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveColumns">
            <soap12:operation soapAction="saveColumns" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteColumns">
            <soap12:operation soapAction="deleteColumns" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAttempts">
            <soap12:operation soapAction="getAttempts" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServerVersion">
            <soap12:operation soapAction="getServerVersion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteGradebookTypes">
            <soap12:operation soapAction="deleteGradebookTypes" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Gradebook.WSHttpBinding" type="axis2:Gradebook.WSPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="deleteGradingSchemas">
            <http:operation location="Gradebook.WS/deleteGradingSchemas"/>
            <wsdl:input>
                <mime:content type="text/xml" part="deleteGradingSchemas"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="deleteGradingSchemas"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteGrades">
            <http:operation location="Gradebook.WS/deleteGrades"/>
            <wsdl:input>
                <mime:content type="text/xml" part="deleteGrades"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="deleteGrades"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGradebookColumns">
            <http:operation location="Gradebook.WS/getGradebookColumns"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getGradebookColumns"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getGradebookColumns"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="initializeGradebookWS">
            <http:operation location="Gradebook.WS/initializeGradebookWS"/>
            <wsdl:input>
                <mime:content type="text/xml" part="initializeGradebookWS"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="initializeGradebookWS"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGrades">
            <http:operation location="Gradebook.WS/getGrades"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getGrades"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getGrades"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="processScoreFilterQuery">
            <http:operation location="Gradebook.WS/processScoreFilterQuery"/>
            <wsdl:input>
                <mime:content type="text/xml" part="processScoreFilterQuery"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="processScoreFilterQuery"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveGradebookTypes">
            <http:operation location="Gradebook.WS/saveGradebookTypes"/>
            <wsdl:input>
                <mime:content type="text/xml" part="saveGradebookTypes"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="saveGradebookTypes"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveAttempts">
            <http:operation location="Gradebook.WS/saveAttempts"/>
            <wsdl:input>
                <mime:content type="text/xml" part="saveAttempts"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="saveAttempts"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveGradingSchemas">
            <http:operation location="Gradebook.WS/saveGradingSchemas"/>
            <wsdl:input>
                <mime:content type="text/xml" part="saveGradingSchemas"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="saveGradingSchemas"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAttempts">
            <http:operation location="Gradebook.WS/deleteAttempts"/>
            <wsdl:input>
                <mime:content type="text/xml" part="deleteAttempts"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="deleteAttempts"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRequiredEntitlements">
            <http:operation location="Gradebook.WS/getRequiredEntitlements"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getRequiredEntitlements"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getRequiredEntitlements"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateColumnAttribute">
            <http:operation location="Gradebook.WS/updateColumnAttribute"/>
            <wsdl:input>
                <mime:content type="text/xml" part="updateColumnAttribute"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="updateColumnAttribute"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveGrades">
            <http:operation location="Gradebook.WS/saveGrades"/>
            <wsdl:input>
                <mime:content type="text/xml" part="saveGrades"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="saveGrades"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGradingSchemas">
            <http:operation location="Gradebook.WS/getGradingSchemas"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getGradingSchemas"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getGradingSchemas"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGradebookTypes">
            <http:operation location="Gradebook.WS/getGradebookTypes"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getGradebookTypes"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getGradebookTypes"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveColumns">
            <http:operation location="Gradebook.WS/saveColumns"/>
            <wsdl:input>
                <mime:content type="text/xml" part="saveColumns"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="saveColumns"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteColumns">
            <http:operation location="Gradebook.WS/deleteColumns"/>
            <wsdl:input>
                <mime:content type="text/xml" part="deleteColumns"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="deleteColumns"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAttempts">
            <http:operation location="Gradebook.WS/getAttempts"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAttempts"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAttempts"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServerVersion">
            <http:operation location="Gradebook.WS/getServerVersion"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getServerVersion"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getServerVersion"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteGradebookTypes">
            <http:operation location="Gradebook.WS/deleteGradebookTypes"/>
            <wsdl:input>
                <mime:content type="text/xml" part="deleteGradebookTypes"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="deleteGradebookTypes"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Gradebook.WS">
        <wsdl:port name="Gradebook.WSSOAP11port_https" binding="axis2:Gradebook.WSSOAP11Binding">
            <soap:address location="https://50.173.89.101:443/webapps/ws/services/Gradebook.WS"/>
        </wsdl:port>
        <wsdl:port name="Gradebook.WSSOAP11port_http1" binding="axis2:Gradebook.WSSOAP11Binding">
            <soap:address location="http://50.173.89.101:8080/webapps/ws/services/Gradebook.WS"/>
        </wsdl:port>
        <wsdl:port name="Gradebook.WSSOAP12port_https" binding="axis2:Gradebook.WSSOAP12Binding">
            <soap12:address location="https://50.173.89.101:443/webapps/ws/services/Gradebook.WS"/>
        </wsdl:port>
        <wsdl:port name="Gradebook.WSSOAP12port_http1" binding="axis2:Gradebook.WSSOAP12Binding">
            <soap12:address location="http://50.173.89.101:8080/webapps/ws/services/Gradebook.WS"/>
        </wsdl:port>
        <wsdl:port name="Gradebook.WSHttpport" binding="axis2:Gradebook.WSHttpBinding">
            <http:address location="https://50.173.89.101:443/webapps/ws/services/Gradebook.WS"/>
        </wsdl:port>
        <wsdl:port name="Gradebook.WSHttpport1" binding="axis2:Gradebook.WSHttpBinding">
            <http:address location="http://50.173.89.101:8080/webapps/ws/services/Gradebook.WS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
